chainlit
langchain
langchain_community
PyPDF2
chromadb
groq
langchain-groq
ollama
python-dotenv
wordcloud
fitz
plotly
matplotlib
plotly-express
PyMuPDF
plotly
pandas
gtts
pydub
SpeechRecognition
googletrans
deep-translator